body {
    overflow-x: hidden;
}

@font-face {
    font-family: 'planetFont';
    src: url(./PLANK.TTF);
}
  
.planetFont {
    font-family: 'planetFont';
    font-size: xx-large;
}
.res-img {
    width: 100%;
    height: auto;
}

[class*="h"] {
    font-family: 'Montserrat', sans-serif;
}

p {
    font-family: 'Lato', sans-serif;
}

@media only screen and (max-width: 210px){
    .arrow::after,
    .arrow::before {
        position: absolute;
        content: '';
        width: 20px;
        height: 50px;
        background: rgb(235,235,235);
        bottom: -1rem;
        z-index: -1;
    }
}
.arrow {
    position: relative;
}

@media only screen and (max-width: 770px){
    h1.planetFont {
        visibility: hidden;
        font-size: small;
    }
    ul.list-group.list-group-flush {
        text-align: center;
    }
    div.col-md-3 {
      text-align: center;
    }
    .icons {
      padding-bottom: 10px;
      padding-top: 10px;
    }
}

/* Pseudo element */
.arrow::after,
.arrow::before {
    position: absolute;
    content: '';
    width: 120px;
    height: 150px;
    background: rgb(235,235,235);
    bottom: -1rem;
    z-index: -1;
}

.arrow::before {
    right: 50%;
    transform: skew(0, 20deg);
}

.arrow::after {
    left: 50%;
    transform: skew(0, -20deg);
}

/* Background */
.gradient {
  background: rgb(235,235,235);
  background: linear-gradient(180deg, rgba(235,235,235,1) 0%, rgba(238,238,255,1) 35%, rgba(255,255,255,1) 100%);
}

.reverse-gradient {
  background: rgb(235,235,235);
  background: linear-gradient(0deg, rgba(235,235,235,1) 0%, rgba(238,238,255,1) 35%, rgba(255,255,255,1) 100%);
}

  [class*="list-group-item"] {
    border: 0;
    background-color: transparent;
}
  .list-group-item, a {
    text-decoration: none;
    color: black;
    font-weight: 500;
  }

  /* Color */
  .red {
    color: #B00000;
  }

  .btn-color {
    background-color: #599e92;
    color: white;
  }

  button, a:hover {
    color: white;
  }

  .download-bg {
    background-color: #78C1B5;
  }

@media (max-width: 767px) {
  .border-mobile {
    border-bottom: 1px solid lightgray;
  }

  .border-mobile::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50%;
    width: 1px;
  }

  html, body {
    overflow-x: hidden;
  }
}